$ORIGIN {{ ns_zone }}.
$TTL 86400
@	SOA	{{ ns_name }}.{{ ns_zone }}.	hostmaster.{{ ns_zone }}. (
		{{ ns_serial }} ; serial as yyyymmddnnnn
		21600      ; refresh after 6 hours
		3600       ; retry after 1 hour
		604800     ; expire after 1 week
		86400 )    ; minimum TTL of 1 day
;
	NS	{{ ns_name }}.{{ ns_zone }}.
{{ ns_name }}	A	{{ ns_addr }}
{{ cl_name }}	A	{{ cl_addr }}
